---
const { title, description, lang = 'en' } = Astro.props;
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
		<ClientRouter />
    <meta name="description" content={description} />
		<meta property="og:title" content="Thomas PAZZÉ - Full Stack dev 🎯">
		<meta property="og:description" content="Explore my projects and articles on web development.">
		<meta property="og:url" content="thomaspazze.com">
		<meta property="og:type" content="website">
		<meta property="og:image" content="/public/logo.svg">
		<link rel="icon" href="/public/logo.svg" type="image/png">
	</head>
  <body>
    <slot name="navbar" {lang} />
    <main>
      <slot />
    </main>
    <slot name="footer" {lang} />
		<script>
			document.addEventListener("DOMContentLoaded", () => {
				const burger = document.getElementById("burger");
				const navLinks = document.getElementById("nav-links");

				if (burger && navLinks) {
					burger.addEventListener("click", () => {
						navLinks.classList.toggle("hidden");
						burger.classList.toggle("active");
					});
				}
			});
		</script>
  </body>
</html>